{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Code</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Country</th>
                    <th scope="col">Zip</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="table-body">
                
                    <th scope="col">Loading....</th>

            
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block script_file %}


<script>
    $(document).ready(function () {


        function getBuildinds() {

            var url = "{% url 'TestBuildingListCreateAPIView' %}"

            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                     Zoom zoom(data)
                },
                error: function (error) {
                    console.log(`Error ${error}`);
                }
            });

        }
        getBuildinds()
        function craeteBuildingTable(data) {
            item = ''
            for (var i in data) {
                i = parseInt(i);
                row = data[i]
                var viewUrl = "{% url 'view-building' pk=12345 %}"
                viewUrl = viewUrl.replace('12345', row.id);
                console.log('viewUrl==>', viewUrl)

                item += ` <tr>`
                    + `<th>${i + 1}</th>`
                    + `<td>${row.name}</td>`
                    + `<td>${row.code}</td>`
                    + `<td>${row.city}</td>`
                    + `<td>${row.state}</td>`
                    + `<td>${row.country}</td>`
                    + `<td>${row.zip}</td>`
                    + `<td>${row.status}</td>`
                    + `<td>`
                    + `<a  class="btn btn-sm btn-info" href="${viewUrl}" >View Details</a>`
                    + `</td>`
                    + `</tr>`
            }
            var wrapper = document.getElementById("table-body");
            wrapper.innerHTML = "";
            wrapper.innerHTML += item;
        }
    }) 
</script>

{% endblock %}