{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <title>Form</title>
    <script
      type="text/javascript"
      src="{% static 'codebase/webix.js' %}"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'codebase/webix.css' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="//cdn.webix.com/materialdesignicons/5.8.95/css/materialdesignicons.min.css?v=9.2.2"
      type="text/css"
      charset="utf-8"
    />
    <script type="text/javascript" src="{% static 'data/data.js' %}"></script>
    <style>
      .webix_header {
        font-weight: bold;
        font-size: 25px;
        margin-top: 10px;
      }
      .webix_column.webix_last > div {
        align-items: center;
        border-right-width: 0px;
        justify-content: center;
        display: flex;
      }
      .btn {
        background: #27ae60;
        color: #ffffff;
        border-radius: 20px;
        padding: 1px 10px;
      }
      .key_font {
        font-size: 20px;
        font-weight: bold;
      }
      .data_font {
        font-size: 16px;
      }
      .webix_dt_editor input,
      .webix_dt_editor select {
        font-size: 18px;
      }
      .webix_secondary .webix_button {
        font-size: 18px;
        height: 34px;
      }
      .webix_primary .webix_button {
        font-size: 18px;
        height: 34px;
      }
      .btn_wraper {
        padding: 5px;
      }
      .webix_template {
        justify-content: center;
        align-items: center;
        display: flex;
      }
    </style>
  </head>
  <body>
    <script type="text/javascript">
      webix.protoUI(
        {
          name: "editlist",
        },
        webix.EditAbility,
        webix.ui.list
      );

      webix.ui({
        view: "window",
        id: "dt",
        head: "Building Details",
        modal: true,
        position: "center",
        autofit: true,
        height: 800,
        width: 1300,
        close: true,
        on: {
          onHide: () => {
            $$("list").clearAll();
          },
        },
        css: "window_edit_list",
        body: {
          rows: [
            {
              view: "dataview",
              id: "list",
              padding: 10,
              type: {
                width: 1300 / 2 - 10,
              },
              template:
                "<div class='d-flex flex-wrap align-items-center h-100 '> <span class='w-25 key_font'> #key# </span> <span class='w-75 data_font'> #data# </span> </div>",
            },
            {
              height: 50,
              css: "btn_wraper",
              cols: [
                {
                  view: "button",
                  label: "Update Data",
                  css: "webix_primary",
                  inputWidth: 200,
                  align: "center",
                  click: function () {
                    var updateUrl = "{% url 'update'  pk=1234 %}";
                    updateUrl = updateUrl.replace("1234", data.id);

                    console.log("updateUrl", updateUrl);
                    webix.send(updateUrl, null, "GET");

                    $$("dt").hide();
                  },
                },
                {
                  view: "button",
                  label: "Cancel",
                  inputWidth: 200,
                  align: "center",
                  click: function () {
                    $$("dt").hide();
                  },
                },
              ],
            },
          ],
        },
      });

      webix.ui({
        rows: [
          {
            view: "toolbar",
            css: "webix_dark",
            padding: { right: 10, left: 10 },
            elements: [{ view: "label", label: "Amworks" }],
            height: 0,
          },
          {
            cols: [
              {
                view: "sidebar",
                data: menu_data,
                autoheight: true,
                autowidth: true,
                on: {
                  onAfterSelect: function (id) {
                    if (this.getItem(id).value == "Add Building") {
                      webix.send(
                        "https://amworksweb.azurewebsites.net/webix/add/",
                        null,
                        "GET"
                      );
                    }
                    webix.message("Selected: " + this.getItem(id).value);
                  },
                },
              },
              {
                view: "datatable",
                scrollX: true,
                scrollY: true,
                id: "data",
                data: fetchApi(),
                undo: false,
                sort: true,
                columns: [
                  { id: "id", header: "ID", css: "rank", width: 50 },
                  { id: "organization_id", header: "organization_id" },

                  { id: "name", header: "Name", width: 100 },

                  {
                    id: "code",
                    header: "Code",
                    sort: "string",
                    fillspace: false,
                    hidden: false,
                  },
                  {
                    id: "city",
                    header: "City",
                    sort: "string",
                    fillspace: false,
                    hidden: false,
                  },
                  {
                    id: "state",
                    header: "State",
                    sort: "string",
                    fillspace: false,
                    hidden: false,
                  },
                  {
                    id: "country",
                    header: "Country",
                    sort: "string",
                    fillspace: false,
                    hidden: false,
                  },
                  {
                    id: "zip",
                    header: "Zip",
                    sort: "string",
                    fillspace: false,
                    hidden: false,
                  },
                  {
                    id: "status",
                    header: "Status",
                    fillspace: false,
                    hidden: false,
                  },
                  { id: "create_date", header: "Create_date" },
                  { id: "create_user", header: "create_user" },
                  { id: "update_date", header: "update_date" },
                  {
                    header: "Action",
                    template:
                      "<input class='viewbtn btn' type='button' value='View'>",
                    width: 100,
                  },
                ],
                // a click behavior for the cell with a button styled with 'delbtn' class
                onClick: {
                  viewbtn: function (e, id, trg) {
                    data = this.getItem(id);
                    $$("list").clearAll();
                    for (key in data) {
                      if (key != "id") {
                        $$("list").add({ key, data: data[key] });
                      }
                    }
                    $$("dt").show();
                    //$$('myfrm').bind(data)
                  },
                },
              },
            ],
          },
        ],
      });

      webix.extend($$("data"), webix.ProgressBar);
      function show_progress_icon(delay) {
        $$("data").showProgress({
          delay: delay,
          hide: true,
        });
        setTimeout(function () {
          $$("data").parse(fetchApi());
        }, delay);
      }
      show_progress_icon(2000);
    </script>
  </body>
</html>
